:root {
  --colorFirst1: rgb(5, 178, 49);
  --colorFirst2:rgb(5, 178, 49);;
  --colorDanger:#c9302c;
  --colorSecond:rgb(60, 205, 111);
  
  --colorStandar: white; 
  --colorDark:rgb(37, 37, 37);

  --colorWarring:rgb(237, 241, 20);



}


@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('../fonts/Poppins-ExtraLight.ttf');
}


* {
    padding: 0;
    margin: 0;
  }
  
body{
  font-family: Poppins-Light;
}
  .contenedor{
    border: 1px solid black;
    width: 80%;
    margin: auto;
   padding: 50px;
  }

  
  .contenedor__input{
    position: relative;
    display: flex;
    width:fit-content;
    font-size: 17px;
    width: 100%;
    margin: 5px;

  }

  .contenedor__input input{
    padding: 4px 5px 4px 5px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(74, 74, 74);
    text-transform:uppercase;
    width: 100%;
    font-weight: bold;
    color: rgb(78, 78, 78);
    cursor:pointer;
  }

  .contenedor__input label{
    position: absolute;
    top:2px;
    transition: 0.2s;
    left: 5px;
    font-weight: bold;
    color: rgb(162, 162, 162);
  }

  .contenedor__input label:hover{
    cursor: pointer;
    color: rgb(126, 126, 126);
  }

  .contenedor__input input:focus{
    background-color: rgb(225, 255, 245);
    border: 1px solid rgb(5, 178, 49)

  }
  
  .contenedor__input input:is(:focus,:valid) ~ label{
    position: absolute;
    top:-19px;
    font-size: 12px;
    background-color: white;
    padding: 0px 3px 0px 3px;
    color:rgb(5, 178, 49)

  }

  .contenedor__input input:valid{
    border: 1px solid rgb(171, 169, 169);
  }


  .contenedor-group-input{
    display: flex;
    flex-direction: row;
  }

 .btnOn{
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    background-color:rgb(5, 178, 49);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    margin: 5px;
    border: 1px solid var(--colorDark);

}

 .btnOn:hover{
    background-color:rgb(10, 148, 45);
}

 .btnOn:active{
    transform: scale(1.1);
}

.btnOff{
  padding: 5px 10px 5px 10px;
  font-size: 17px;
  background-color:rgb(212, 70, 70);
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  border: 1px solid var(--colorDark);

}

.btnOff:hover{
  background-color:rgb(159, 13, 13);
}

.btnOff:active{
  transform: scale(1.1);
}

.btnTabla{
  font-family: Poppins-ExtraLight;
}



.contenedor__tabla table{
  margin-top: 20px;
  border: 1px solid black;
  border-collapse:collapse;
  /* font-family: poppins-regular; */
}

.contenedor__tabla table th{
    background-color: rgb(5, 178, 49);
    border: 1px solid black;
}

.contenedor__tabla table td{
  border: 1px solid rgb(129, 129, 129);
  padding: 5px;
}

.btnWarring{
  background-color: var(--colorWarring);
  color: var(--colorDark);
 
}
.btnWarring:hover{
  background-color: rgb(248, 251, 65);
}

/* contenedor-group-input */

@media (min-width: 0px) and (max-width: 800px) {
  .contenedor-group-input{
    
    flex-direction: column;
   
  }
  
}