

@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('../fonts/Poppins-ExtraLight.ttf');
}



  
body{
  font-family: Poppins-Light;
}
  



@font-face {
  font-family: PoppinsRegular;
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: PoppinsLight;
  src: url('../fonts/Poppins-Light.ttf');
}

:root{
  --primaryColor:  royalblue;
  --SecondaryColor :rgb(243, 32, 141);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: PoppinsRegular;
  font-size: 1em;
  background-color: rgb(232, 232, 232);
}

.contenedor{
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 5px;
}

/* menu */
  nav ul{
      display: flex;
      background-color: royalblue;
  }
  nav ul li{
      list-style: none;
  }
  nav ul li a{
      text-decoration: none;
      /* border: 1px solid black; */
      padding: 5px;
      display: block;
      color: white;
  }
  nav ul li a:hover{
      background-color: rgb(62, 107, 243);
      cursor: pointer;
  }
/* fin menu */
/* SECTION */
  section{
      padding: 10px;
      height: 500px;
      padding-top: 20px;
  }
/* FIN seccion */

/* Estilos Formulario */
  .group__input{
      position: relative;
      /* display:table; */
      /* width: 100%; */
      margin: 5px;
      margin-top: 16px;
      /* border: 1px solid red; */
      
  }
  
  .input{
      font-family: poppinsRegular;
      padding: 5px;
      font-size: 1em;
      border-radius: 5px;
      border: 1px solid var(--primaryColor);
      width: 100%;
  }

  .group__input label{
      position: absolute;
      top: 5px;
      left: 5px;
      color: rgb(96, 96, 96);
      transition:all 0.2s;
  }
  .group__input .input:is(:focus,:valid) +  label{
      top: -15px;
      background-color: white;
      font-size: 0.9em;
      padding-left: 5px;
      padding-right: 5px;
      color: var(--primaryColor)
  }

  .contenedor__items{
      display: flex;
      /* border: 1px solid black; */
  }

  .select{
      width: 100%;
      background-color:rgb(208, 208, 208);
      font-size: 1em;
      padding: 5px;
      border: 2px solid var(--primaryColor);
      border-radius: 5px;
      color:  var(--primaryColor);
      font-weight: bold;
      font-family: poppinsRegular;
      z-index: 2;
  }
  .select option{
      font-family:Arial, Helvetica, sans-serif;
      font-weight: normal;
      /* background-color: red; */
  }

  .select option:hover{
  background-color: var(--primaryColor);
  }
  .btn__succes{
      /* width: 100%; */
      font-size: 1em;
      padding: 5px 15px 5px 15px;
      border: 1px solid var(--primaryColor);
      border-radius: 5px;
      color: white;
      font-family: poppinsRegular;
      background-color:  var(--primaryColor);
      transform: scale(1);  
  }
  .btn__succes:hover{
      cursor: pointer;
      background-color: rgb(35, 35, 168)
  }
  .btn__succes:active{
      transform: scale(1.03);
  }

  .btn__span{
      /* width: 100%; */
      font-size: 1em;
      padding: 5px 15px 5px 15px;
      border: 1px solid var(--primaryColor);
      border-radius: 5px;
      color: white;
      font-family: poppinsRegular;
      background-color: rgb(170, 170, 170);
      transform: scale(1);  
  }
  .btn__span:hover{
      cursor: pointer;
      background-color:rgb(133, 133, 133);
  }
  .btn__span:active{
      transform: scale(1.03);
  }


  .btntableSucces{
    padding: 2px 10px 2px 10px !important;
  }



  .grup__select{
      position: relative;
      display: flex;
  }
  .grup__select span{
      position:absolute;
      margin-left: 8px;
      top: -17px;
      color: var(--primaryColor);
      background-color: white;
      display: table;
      padding: 0px 0px 0px 0px;
      text-align: center;
      padding-bottom: -5px;
      z-index: 1;
      font-size: 0.8em;
  }
/* Fin Estillos formulario */




/* INICIO ____Estilo form LIQUIDACION  */

.cont__input2{
  display: flex;
}

.cont__input2 .label__input2{
  border: 1px solid rebeccapurple;
  white-space: nowrap;
  padding: 5px 10px 0px 10px;
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
  
}
.cont__input2 input{
  border-radius: 0px 5px 5px 0px;
}

.cont_liqu{
  margin-top: 50px;
}

.cont_liqu input{
  border-radius: 0px;
  border-top: 0px;
}

.cuerpo_liq input{
  margin-top: 3px;
  border-right: 0px ;
  border-left: 0px;
  margin-right:  3px !important;
}
.cuerpo_liq .fila div{
  margin-right: 5px;
}


/* FIN ____Estilo form LIQUIDACION  */










 .btnOn{
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    background-color:rgb(5, 178, 49);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    margin: 5px;
    border: 1px solid var(--colorDark);

}

 .btnOn:hover{
    background-color:rgb(10, 148, 45);
}

 .btnOn:active{
    transform: scale(1.1);
}

.btnOff{
  padding: 5px 10px 5px 10px;
  font-size: 17px;
  background-color:rgb(212, 70, 70);
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  border: 1px solid var(--colorDark);

}

.btnOff:hover{
  background-color:rgb(159, 13, 13);
}

.btnOff:active{
  transform: scale(1.1);
}

.btnTabla{
  font-family: Poppins-ExtraLight;
}



.contenedor__tabla table{
  margin-top: 20px;
  border: 2px solid var(--primaryColor);
  border-collapse:collapse;
  /* font-family: poppins-regular; */
}

.contenedor__tabla table th{
    background-color: var(--primaryColor);
    border: 1px solid black;
    color: white;
    padding: 4px;
}

.contenedor__tabla table td{
  border: 1px solid var(--primaryColor);
  padding: 5px;
}

.btnWarring{
  background-color: var(--colorWarring);
  color: var(--colorDark);
 
}
.btnWarring:hover{
  background-color: rgb(248, 251, 65);
}

/* contenedor-group-input */

@media (min-width: 0px) and (max-width: 800px) {
  .contenedor-group-input{
    
    flex-direction: column;
   
  }
  
}